.sidebarWrapper {
	height: 100%;
	padding: 1.5rem;

	header {
		position: relative;
		.imageText {
			display: flex;
			align-items: center;
			.image {
				img {
					border-radius: 50%;

					width: 40px;
					height: 40px;
					color: white;
					background-color: white;
				}
			}
			.text {
				margin: 0 1.5rem;
			}
		}
		.rightArrowIcon {
			position: absolute;
			top: 50%;
			right: -2.2rem;
			background-color: black;
			transform: translateY(-50%);
			border-radius: 50%;
			width: 25px;
			height: 25px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	.menuBar {
		.menu {
		}
		.bottomContent {
		}
	}
}
