.sidebarWrapper {
	height: 100%;
	padding: 1.5rem;
	width: 250px;
	transition: all 0.3s ease-in-out;
	display: flex;
	flex-direction: column;
	&.close {
		width: 100px;
	}

	header {
		position: relative;
		.imageText {
			display: flex;
			align-items: center;
			.image {
				img {
					border-radius: 50%;

					width: 40px;
					height: 40px;
					color: white;
					background-color: white;
				}
			}
			.text {
				margin: 0 1.5rem;
				transition: all 0.3s ease;
				&.fadeOut {
					opacity: 0;
				}
			}
		}
		.rightArrowIcon {
			cursor: pointer;
			position: absolute;
			top: 50%;
			right: -2.2rem;
			background-color: black;
			transform: translateY(-50%);
			border-radius: 50%;
			width: 25px;
			height: 25px;
			display: flex;
			align-items: center;
			justify-content: center;
			svg{
				transition: all .3s ease;
			}

			&.closed{
				svg	{
					transform: rotate(180deg);
				}
			}
		}
	}

	.optionList {
		list-style: none;
		padding: 0;
		margin: 1.5rem 0;
		.option {
			border-radius: 5px;
			transition: all 0.2s ease-in-out;
			cursor: pointer;


			a {
				padding: 5px 0;
				text-decoration: none;
				color: white;
				display: flex;
				align-items: center;
				svg {
					min-width: 3rem;
				}
				span {
					transition: all 0.3s ease;
					white-space: nowrap;
				}
				&.fadeOut {
					span {
						opacity: 0;
						pointer-events: none;
					}
				}
				&.active{
					color: red;
				}
			}




			&:hover {
				background-color: grey;
			}

			&:not(:first-child) {
				margin-top: 1rem;
			}

		}
	}

	.menuBar {
		flex: 0 1 auto;
		display: flex;
		flex-direction: column;
		height: 100%;
		overflow: hidden;
		.menu {
			flex: 1 1 auto;
		}
		.bottomContent {
			margin-bottom: 3rem;
		}
	}
}
